
$color-black-0: #000000ff
$color-black-1: #00000011
$color-black-2: #00000033
$color-black-3: #00000066
$color-black-4: #00000099
$color-warning: #ffc633ff
$color-danger: #ff3333ff
$color-danger-bg: #ff33331a
$color-success: #01ab31ff
$color-grey-1: #f0eeedff
$color-grey-2: #f0f0f0ff
$color-grey-3: #f2f0f1ff
$color-white: #ffffffff

$font-1: "Satoshi", sans-serif
$font-2: "Archivo Black", sans-serif

$size-1: clamp( 8px, calc( 8px + (12 - 8) * ((100vw - 320px) / 1600)), 12px)
$size-2: clamp(10px, calc(10px + (14 - 10) * ((100vw - 320px) / 1600)), 14px)
$size-3: clamp(12px, calc(12px + (16 - 12) * ((100vw - 320px) / 1600)), 16px)
$size-4: clamp(14px, calc(14px + (20 - 14) * ((100vw - 320px) / 1600)), 20px)
$size-5: clamp(18px, calc(18px + (24 - 18) * ((100vw - 320px) / 1600)), 24px)
$size-6: clamp(24px, calc(24px + (32 - 24) * ((100vw - 320px) / 1600)), 32px)
$size-7: clamp(28px, calc(28px + (36 - 28) * ((100vw - 320px) / 1600)), 36px)
$size-8: clamp(32px, calc(32px + (40 - 32) * ((100vw - 320px) / 1600)), 40px)
$size-9: clamp(36px, calc(36px + (48 - 36) * ((100vw - 320px) / 1600)), 48px)
$size-10: clamp(40px, calc(40px + (64 - 40) * ((100vw - 320px) / 1600)), 64px)

$transition: 0.3s

$radius-1: 4px
$radius-2: 8px
$radius-3: 12px
$radius-4: 16px
$radius-5: 20px
$radius-6: 40px
$radius-full: calc(infinity * 1px)

