.main_form
    padding: 50px 0
    background: linear-gradient(
        0deg,
        $color-grey-3 50%,
        $color-white 50%
    )
    .wrap
        background: $color-black-0
        border-radius: $size-4
        padding: 48px 60px
          
        +flex
        .text
            font-size: $size-8
            font-family: $font-2
            color: $color-white
            text-transform: uppercase
            max-width: 600px
            flex-grow: 1
        .form
            gap: 14px
            width: 90%
            +flex(center,end, column)
            input
                text-align: center
            .btn
                border-radius: $radius-full
                height: 40px
                width: 100%
                max-width: 400px
                padding: 0 16px
                font-size: $size-3
                font-weight: 500
                
